body {
    display: flex;
    justify-content: center;
}

.calculatorBody {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 500px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    background-color: lightgrey;
    margin: 10px;
}

.row1, 
.row2, 
.row3, 
.row4 {
    display: flex;
    justify-content: center;
    width: 300px;
}

.operators {
    display:flex;
    flex-direction: column;
    flex: auto;
}

.calcButtons {
    display: flex;
    
    width: 400px;
    height: 400px;
}

button {
    flex:auto;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.num0,
.equals,
.clear {
    width: 100px;
}

.add,
.subtract,
.multiply,
.divide {
    width: 100px;
}

.displayNum1,
.displayNum2,
.operator,
.answer {
    margin: 0;
}